html,
body {
  height: 100%;
  background-color: #333;
  color: #fefefe;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  line-height: 2;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.inputinfo {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
 
}

.form-input {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-input .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-input .form-control:focus {
  z-index: 2;
}
.form-input input[type="address"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-input input[type="electionID"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type=submit]:hover{
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #bbb;
  border: .05rem solid #bbb;
}
input[type=submit] {
    background-color: #f2f2f2;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}